{% extends "base.html" %}
{% block content %}

<table width="60%" bgcolor="#daff96" border="1" align="center">
    <tr>
        <td>
            <h2>{{ mesg }}</h2>
                <form action="/saveprofile/{{ user.id}}" method="post">
                    {% csrf_token %}
            <table>
            <tr><td>First name:</td>
                <td><input type="text" name="firstname" value="{{ user.first_name }}" id="firstname"></td>
            </tr>
            <tr><td>Last name:</td>
                <td><input type="text" name="lastname" value="{{ user.last_name }}" id="lastname"></td>
            </tr>
            <tr><td>Email:</td>
                <td><input type="email" name="email" value="{{ user.email }}" id="email"></td>
            </tr>
            <tr><td>Password:</td>
                <td><input type="password" name="password"  id="password"></td>
            </tr>
            <tr><td>Confirm Password:</td>
                <td><input type="password" name="password2"  id="password2"></td>
            </tr>
            <tr><td><input type="submit" value="Save"> <td><a href="/home/">Cancel</a> </td></tr>
            </table>
                </form>
        </td>
    </tr>

</table>

{% endblock %}