
<p><b>{{ error }}</b></p>
  {% if form.errors%}
    <p> Password or username is incorrect </p>

  {% endif %}

    <form action="/login/" method="post">
        {% csrf_token %}
        <label for="username">Username :</label><br>
        <input type="text" name="username" value="" id="username"><br>
        <label for="password">Password :</label><br>
        <input type="password" name="password" value="" id="password"><br>

        <input type="submit" value="Submit">You dont have an account? <a href="/createuser/">click here</a>
        <input type="hidden" name="next" value="loginpage">

    </form>
{% block content %}

{% endblock %}
